@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to the Official Page for This Year's Holiday Party!</h1>
<h2>Take Action:</h2>
<br />
<table>
    <tr class="btn btn-lg"><td>@Html.ActionLink("Register", "Registration", "Identity")</td></tr>

    <tr class="btn btn-lg"><td>@Html.ActionLink("Bring a Dish", "DishSignup", "Home")</td></tr>
</table>