
@{
    ViewBag.Title = "ViewCharacter";
}

<h2>ViewCharacter</h2>

@if (ViewBag.CharacterChosen != null)
{
<table>
    <tr><td>@ViewBag.CharacterChosen.Name</td></tr>
    <tr><td>@ViewBag.CharacterChosen.House</td></tr>
    <tr><td>@ViewBag.CharacterChosen.Allegiance</td></tr>
    <tr><td>@ViewBag.CharacterChosen.Book</td></tr>

</table>
}